
.pupil {
    width: 25%;
    height: 50%;
    background: #222;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    box-shadow: 0 0 0 1.6vmin var(--iris);


  }