body {
    --text_black:#1a1a1a ;
    --text_gray: #6d6d6d;
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}

#topbar {
    width: 100%;
}

#navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #ffff;
    height: 60px;
    left: 0;
    box-shadow: 2px 2px 19px rgba(0,0,0,0.2);
}
#navbar li{
    list-style: none;
    display: inline;
}
#navbar a {
    text-decoration: none;
    color: var(--text_gray);
    padding: 20px;
    font-family: calibri;
    font-size: 15px;
    font-weight: 700;
}
#navbar a:hover{
    background: var(--text_gray);
    width: 100%;
    height: 100%;
}
#title_container{
    text-align: center;
}
#title_container h1{
    font-family: "Raleway";
    text-align: center;
}
#title_container p{
    font-family: "Raleway";
    text-align: center;
}
#button{
    box-shadow:  2px 2px 19px rgba(0,0,0,0.2);
    font-family: "Raleway";
}