body {
    --text_black:#1a1a1a ;
    --text_gray: #6d6d6d;
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}
#navbar li{
    list-style: none;
    display: inline;
}
#navbar a {
    text-decoration: none;
    color: var(--text_gray);
    padding: 20px;
    font-family: calibri;
    font-size: 15px;
    font-weight: 700;
}
#navbar a:hover{
    background: var(--text_gray);
    width: 100%;
    height: 100%;
}
#topbar {
    width: 100%;
    height: 95vh;
    position: relative;
    background-image: url(https://wallpaperaccess.com/full/1285952.jpg);
}
#navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #ffff;
    height: 60px;
    left: 0;
    box-shadow: 2px 2px 19px rgba(0,0,0,0.2);
}
#text1{
    font-family: calibri;
    font-weight: bold;
    color:  var(--text_gray);
    font-size: 22px;
}
#text2{
    font-family: calibri;
    font-weight: bold;
    color: var(--text_black);
    font-size: 50px;
    letter-spacing: 1px;
}
#text3 {
    font-family: "Raleway";
    color: #6d6d6d;
    font-size: 27px;   
    line-height: 30px;
}
#hello p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
#hello-container {
    position: absolute;
    left: 20%;
    top: 42%;
    transform: translate(-13%,-42%);
}
.cartoon{
    height: 75%;
    position: absolute;
    bottom: 10%;
    left: 70%;
    transform: translateX(-70%);
    border-radius: 22px;
}

#about-container{
    width: 80%;
    height: 340px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
#about{
    width: 550px;
}

#about a{
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    font-family: calibri;
    font-weight: bold;
    background-color: #262525;
    outline: none;
    border: none;
    border-radius: 5px;
}
#about h3{
    color: var(--text_black);
    font-family: "Raleway";
    font-size: 30px;
    font-weight: bold;
    line-height: 0px;
    padding: 10px 0px 20px 0px;
}
#about h4{
    color: var(--text_gray);
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 650;
    line-height: 10px;

}
#about p{
    color: var(--text_gray);
    font-size: 18px;
    font-family: calibri;
    font-weight: 200;
    line-height: -5px;
}
#projects-container{
    height: 600px;
    background-color: #ffffff;
    padding: 2% 10% 0% 10%;
    
}
#project h3 {
    font-family: Calibri;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
}
#project h4{
    text-align:center;
} 


.project-panels{
    top: 10%;
    width: 16%;
    height: 40%;
    border-radius: 20px;
    background-color: #6a6a6a;
}

footer{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
footer p {
    font-family: calibri;
    font-size: 30px;
    line-height: 10px;
    color: #191919;

}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items:  center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons{
    display:  flex;
}

